.pending-transactions-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background: linear-gradient(145deg, #1f1f1f, #292929);
  }
  
  h3 {
    text-align: left;
    margin: 0 0 15px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
  }
  
  .transactions-table {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: auto;
  }
  
  .transaction-row {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #252525;
    border-bottom: 1px solid #333;
  }
  
  .transaction-row:last-child {
    border-bottom: none;
  }
  
  input[type="checkbox"] {
    margin-right: 15px;
  }
  
  .transaction-id {
    width: 30px;
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .transaction-amount {
    flex: 1;
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    margin-left: 15px;
    color: #01FDAA;
    display: flex;
    align-items: center;
  }
  
  .transaction-signers {
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    margin-left: 15px;
    color: #D623FF;
    display: flex;
    align-items: center;
  }

  .signers-icon {
    width: 20px; 
    height: 20px;
    margin-right: 5px; 
    vertical-align: middle; 
  }
  
  .revoke-button {
    width: 170px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 5px;
    background-color: #444;
    color: #bbb;
  }
  
  .revoke-button:hover {
    background-color: #555;
  }
  